@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  --color-focus: rgba(90, 50, 115, 1);
  --color-font: black;
  --color-alt: white;
  --color-gray: gray;
  --color-black: black;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--color-font);
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: inherit;
}

.navbar-brand {
  font-variant: small-caps;
  border: 1px solid black;
  padding: .3rem;
  font-size: 17px;
}

.card--small {
  width: 20rem;
  padding: 0;
  margin: .2rem;
}

.card--medium {
  width: 24rem;
}

.card--noborder {
  border-width: 0;
}

.mt-6 {
  margin-top: 6rem !important;
}

.p-6 {
  padding: 6rem !important;
}

.masthead {
  min-height: 350px;
  height: 80vh;
  background-image: url("../assets/banner-min-novo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__container p,
.footer__container h5,
.footer__dev,
.footer__dev a {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.masthead-pages {
  height: 40vh;
  background-image: url("../assets/banner-pages-min.jpg");
}

.bg-pages {
  height: 80vh;
  min-height: 35vh;
  background-size: cover;
  background-position: center;
}

/* DANÇATERAPIA CSS */
.bg-dancaterapia {
  background-image: url('../assets/dancaterapia-full.jpg');
}

/* REIKI CSS */
.bg-reiki {
  background-image: url('../assets/reiki-full.jpg');
}

/* SYNCHRONOTRON CSS */
.bg-synchronotron {
  background-image: url('../assets/synchronotron-full.jpg');
}

/* MAPA GALACTICO CSS */
/* THETAHEALING CSS*/
.bg-thetahealing {
  background-image: url('../assets/thetahealing-full.jpg');
}

/* SOBRE A ORDEM DO HUMANO */
.bg-sobre {
  min-height: 45vh;
  background-size: cover;
  background-position: center;
}

.bg-sobre-ordem-humano {
  background-image: url('../assets/ordem-humano.jpg');
}

.bg-sobre-lei-do-tempo {
  background-image: url('../assets/sobre-lei-do-tempo-2.jpg');
}

/* CURSO LEI DO TEMPO */
.bg-curso-lei-do-tempo {
  min-height: 45vh;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/curso-lei-do-tempo-teste.jpeg');
}

@media only screen and (max-device-width: 640px) {
    /* Styles */
	.masthead {
	  background-image: url("../assets/banner-min-mobile.jpg");
	}
	
	#bt-comunidade {
	  line-height: 1.2;
	  font-size: .75rem;
	}
}