:root {
  --bg-color: #a16958;
  --color-font: white;
  --color-font-primary: #f3e673;
  --color-font-alt: black;
}

* {
  color: var(--color-font);
}

ul>li {
  color: var(--color-font-alt);
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-color-rev {
  background-color: var(--color-font);
  color: var(--color-font-alt);
}

.color-primary {
  color: var(--color-font-primary);
}

.color-alt {
  color: var(--color-font-alt);
}

.masthead-jornada-prosperidade {
  height: 60vh;
  background-image: url("../assets/banner-jornada-prosperidade.jpg");
  background-position: top;
  box-shadow: 1px 1px 8px 1px var(--color-font-primary);
}

.col>hr {
  min-width: 130px;
  width: 55%;
  margin: revert-layer;
}

@media (max-width: 580px) {
  .bg-white-opacity {
    background-color: rgba(255, 255, 255, .4);
  }
}
